#Todos los snippets tienen que tener un duplicado con el simbolo \ escapeado
'.source.tad':
    '\\∨':
      'prefix': '\\lor'
      'body': '∨'
    '\\∨L':
      'prefix': '\\oluego'
      'body': '∨L'
    '\\∧':
      'prefix': '\\land'
      'body': '∧'
    '\\∧L':
      'prefix': '\\yLuego'
      'body': '∧L'
    '\\¬':
      'prefix': '\\not'
      'body': '¬'
    '\\∀':
      'prefix': '\\forall'
      'body': '∀'
    '\\∃':
      'prefix': '\\exist'
      'body': '∃'
    '\\∄':
      'prefix': '\\notexist'
      'body': '∄'
    '\\→':
      'prefix': '\\implica'
      'body': '→'
    '\\→L':
      'prefix': '\\impluego'
      'body': '→L'
    '\\↔':
      'prefix': '\\iff'
      'body': '↔'
    '\\∴':
      'prefix': '\\porlotanto'
      'body': '∴'
    '\\⋂':
      'prefix': '\\genintersection'
      'body': '⋂'
    '\\⋃':
      'prefix': '\\genunion'
      'body': '⋃'
    '\\∩':
      'prefix': '\\intersection'
      'body': '∩'
    '\\∪':
      'prefix': '\\union'
      'body': '∪'
    '\\⊆':
      'prefix': '\\estaincluidooesigual'
      'body': '⊆'
    '\\⊂':
      'prefix': '\\estaincluido'
      'body': '⊂'
    '\\⊄':
      'prefix': '\\noestaincluido'
      'body': '⊄'
    '\\∈':
      'prefix': '\\in'
      'body': '∈'
    '\\∉':
      'prefix': '\\notin'
      'body': '∉'
    '\\ℕ':
      'prefix': '\\natural'
      'body': 'ℕ'
    '\\ℤ':
      'prefix': '\\entero'
      'body': 'ℤ'
    '\\ℚ':
      'prefix': '\\racional'
      'body': 'ℚ'
    '\\ℝ':
      'prefix': '\\real'
      'body': 'ℝ'
    '\\ℂ':
      'prefix': '\\complejo'
      'body': 'ℂ'
    '\\×':
      'prefix': '\\cross'
      'body': '×'
    '\\∞':
      'prefix': '\\infinito'
      'body': '∞'
    '\\↦':
      'prefix': '\\funcion'
      'body': '↦'
    '\\≡':
      'prefix': '\\equivale'
      'body': '≡'
    '\\Ø':
      'prefix': '\\emptyset'
      'body': 'Ø'
    '\\β':
      'prefix': '\\beta'
      'body': 'β'
    '\\α':
      'prefix': '\\alpha'
      'body': 'α'
    '\\•':
      'prefix': '\\dot'
      'body': '•'
    '\\◦':
      'prefix': '\\emptydot'
      'body': '◦'
    '\\π':
      'prefix': '\\pi'
      'body': 'π'
    '\\←':
      'prefix': '\\gets'
      'body': '←'
    '\\≤':
      'prefix': '\\leq'
      'body': '≤'
    '\\≥':
      'prefix': '\\geq'
      'body': '≥'
    '∨':
      'prefix': 'lor'
      'body': '∨'
    '∨L':
      'prefix': 'oluego'
      'body': '∨L'
    '∧':
      'prefix': 'land'
      'body': '∧'
    '∧L':
      'prefix': 'yLuego'
      'body': '∧L'
    '¬':
      'prefix': 'not'
      'body': '¬'
    '∀':
      'prefix': 'forall'
      'body': '∀'
    '∃':
      'prefix': 'exist'
      'body': '∃'
    '∄':
      'prefix': 'notexist'
      'body': '∄'
    '→':
      'prefix': 'implica'
      'body': '→'
    '→L':
      'prefix': 'impluego'
      'body': '→L'
    '↔':
      'prefix': 'iff'
      'body': '↔'
    '∴':
      'prefix': 'porlotanto'
      'body': '∴'
    '⋂':
      'prefix': 'genintersection'
      'body': '⋂'
    '⋃':
      'prefix': 'genunion'
      'body': '⋃'
    '∩':
      'prefix': 'intersection'
      'body': '∩'
    '∪':
      'prefix': 'union'
      'body': '∪'
    '⊆':
      'prefix': 'estaincluidooesigual'
      'body': '⊆'
    '⊂':
      'prefix': 'estaincluido'
      'body': '⊂'
    '⊄':
      'prefix': 'noestaincluido'
      'body': '⊄'
    '∈':
      'prefix': 'in'
      'body': '∈'
    '∉':
      'prefix': 'notin'
      'body': '∉'
    'ℕ':
      'prefix': 'natural'
      'body': 'ℕ'
    'ℤ':
      'prefix': 'entero'
      'body': 'ℤ'
    'ℚ':
      'prefix': 'racional'
      'body': 'ℚ'
    'ℝ':
      'prefix': 'real'
      'body': 'ℝ'
    'ℂ':
      'prefix': 'complejo'
      'body': 'ℂ'
    '×':
      'prefix': 'cross'
      'body': '×'
    '∞':
      'prefix': 'infinito'
      'body': '∞'
    '↦':
      'prefix': 'funcion'
      'body': '↦'
    '≡':
      'prefix': 'equivale'
      'body': '≡'
    'Ø':
      'prefix': 'emptyset'
      'body': 'Ø'
    'β':
      'prefix': 'beta'
      'body': 'β'
    'α':
      'prefix': 'alpha'
      'body': 'α'
    '•':
      'prefix': 'dot'
      'body': '•'
    '◦':
      'prefix': 'emptydot'
      'body': '◦'
    'π':
      'prefix': 'pi'
      'body': 'π'
    '←':
      'prefix': 'gets'
      'body': '←'
    '≤':
      'prefix': 'leq'
      'body': '≤'
    '≥':
      'prefix': 'geq'
      'body': '≥'
    'if Condition':
      'prefix': 'if'
      'body': 'if ${1:condicion} then\n\t${2:resultado}\nelse\n\t${3:sino}\nfi'
    'if Condition inline':
      'prefix': 'ifthen'
      'body': 'if ${1:condicion} then ${2:resultado} else ${3:sino} fi'
    'esqueletoTad':
      'prefix': 'esqueletoTad'
      'body': """
TAD ${1:NombreTad}
	Igualdad Observacional:
	Generos: ${2:nombreTad}
	Exporta: ${2:nombreTad}, observadores, generadores, 
	Usa: ${3:Bool, Nat}
	
	Observadores Basicos:
		${4:obs?:	nombreTad t × nat n	-> bool 	\\{ n ≥ 1 \\}}
	Generadores:
		${5:nil:			-> nombreTad}
	Otras Operaciones:
		${6:otra:	nombreTad t × nat n	-> bool 	\\{ n ≥ 1 \\}}
	Axiomas:
		${7:obs?(nil)	= 	true
		otra(t, n)	= 	n
		...}
Fin TAD
		"""
